<% if @range == 'user' %>
  <h2>Users search for "<%= @word %>"</h2>
  <%= render 'users/index', users: @records %>
<% else @range =='book' %>
<!--検索モデルBookの時-->
  <h2>Books search for "<%= @word %>"</h2>
  <%= render 'books/index', books: @records %>
<% end %>